<mat-table [dataSource]="locations" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let location">{{ location.id }}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let location">{{ location.name }}</mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="['id', 'name']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['id', 'name']"></mat-row>
  </mat-table>