.mat-list-item {
  border-bottom: 1px solid #ccc; 
}

.location-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}

.location-info h3,
.location-info p {
  margin: 4px 0; 
}